/* 1. UA's Customisations */
/* ======================================================================== */
/* In the HTML file insert between head tags:  */
/* <head>  */
/* 	<link rel="stylesheet" type="text/css" href="css/mystyle.css">  */
/* </head>  */
/* ======================================================================== */
/* 1. Extra Small Padding /
/* ======================================================================== */

.section_pb-xxsmall {
  padding-bottom: calc(var(--distance-min-xsmall) * 0.5px);
}

.section_pt-xxsmall {
  padding-top: calc(var(--distance-min-xsmall) * 0.5px);
}

/* ======================================================================== */
/* 2. Blockquote /
/* ======================================================================== */ 
/*
blockquote:before {
  color: #ccc;
  content: "\259B";
  font-size: 2em;
  line-height: 0.1em;
  vertical-align: -0.4em;
  display: inline;
  position: absolute;
  left: -15px;
}
*/
/* ======================================================================== */
/* 3. Slider Captions Tweak /
/* ======================================================================== */ 

.slider-images__caption {
  letter-spacing: 1px; /* ADDED BY HS */
  color: #888888; /* ADDED BY HS */
  text-transform: uppercase; /* ADDED BY HS */
  font-size: calc(var(--subheading-min-font-size) * 1px); /* ADDED BY HS */
}

.section-image__caption {
  letter-spacing: 1px; /* ADDED BY HS */
  color: #cccccc; /* ADDED BY HS */
  text-transform: uppercase; /* ADDED BY HS */
  font-size: calc(var(--subheading-min-font-size) * 1px); /* ADDED BY HS */
}

/* ======================================================================== */
/* 4. Large Subheading /
/* ======================================================================== */ 

.subheading-large {
  font-family: var(--font-primary);
  font-size: calc(var(--subheading-min-font-size) * 1.2px);
  font-weight: bold;
  line-height: var(--subheading-line-height);
  letter-spacing: 2px;
  color: #888888;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  margin-top: 2em;
}

@media screen and (min-width: 320px) {
  .subheading-large {
    font-size: calc(var(--subheading-min-font-size) * 1.2px + (var(--subheading-max-font-size) - var(--subheading-min-font-size)) * ((100vw - 320px) / 1600));
  }
}

@media screen and (min-width: 1920px) {
  .subheading-large {
    font-size: calc(var(--subheading-max-font-size) * 1.2px);
  }
}

@media screen and (min-width: 320px) {
  .subheading-large {
    font-size: calc(var(--subheading-min-font-size) * 1.2px + (var(--subheading-max-font-size) - var(--subheading-min-font-size)) * ((100vw - 320px) / 1600));
  }
}

@media screen and (min-width: 1920px) {
  .subheading-large {
    font-size: calc(var(--subheading-max-font-size) * 1.2px);
  }
}
/* ======================================================================== */
/* 5. Hide logo on Small Mobile Screens */
/* ======================================================================== */

.mobileHide { display: inline;}
/* Smartphone Portrait and Landscape */
@media only screen
   and (min-device-width : 320px)
   and (max-device-width : 480px){  .mobileHide { display: none;}}

/* ======================================================================== */
/* 6. Accordion */
/* ======================================================================== */

.accordion {
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  font-family: var(--font-primary);
  font-size: calc(var(--subheading-max-font-size) * 1px);
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
  margin: 0px;
}

.accordion__label {
  display: block;
  /* color: #ffffff; */
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
}

.accordion__label:hover {
  background: rgba(0, 0, 0, 0.15);
  /* text-decoration: underline dotted; */
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  transition: transform 0.6s;
}

.accordion__content {
  background: rgba(0, 0, 0, 0.3);
  /* background: var(--color-accent-secondary-4); */
  display: none;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(.5turn);
}


.accordion__input:checked ~ .accordion__label {
  background: rgba(255, 255, 255, 0.15);
  font-weight: bold;
}

.accordion ul, ol {
  margin-bottom: 0;
  padding-top: 0em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  color: var(--color-accent-primary-2);
  font-size: 0.95rem;
}

.accordion ul {
  list-style-type: 'ä¸€ ';
}

.accordion ol {
  list-style-type: lower-latin;
}

.accordion__content h6 {
  font-family: var(--font-primary);
  font-size: calc(var(--subheading-max-font-size) * 1px);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.2px;
  padding-top: 1em;
  padding-bottom: 0em;
}
.accordion__content h6::after {
  content: "  \2192";
  position: relative;
}
/*  ------ */